/*=================
  IMPORTED FONTS
==================*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:300,400&display=swap');

/*=================
  COLORS & FONTS
==================*/
:root {
  /* fonts */
  --title-font: 'Playfair Display';
  --second-font: 'Source Sans Pro';
  /* colors */
  --black: #0D0106;
  --crimson: #E3170A;
  --white: #FCFCFC;
  --dark-gray: #56555F;
  --silver: #C1C1C1;
}

/*=================
      GENERAL
==================*/
body {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  /* position: relative; */
  min-height: 97vh;
}

/*=================
  CONTAINER DIV
==================*/
header h1 {
  font-family: var(--title-font);
  color: var(--crimson);
  text-align: center;
  padding: 5%;
  margin: 0 auto;
  height: 5%;
  width: 100%;
  min-width: 750px;
  font-size: 5vw;
}
.page-container {
  position: relative;
  display: flex;
  background-image: url('https://imgur.com/5Vs6vaD');
  /* background-size: auto 100;
  background-repeat: no-repeat;
  background-position: center; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  min-height: 100vh;
  width: 100vw;
}
#content-wrap {
  padding-bottom: 2.5em;
}

/*=================
      MENU
==================*/
.menu {
  display: inline-block;
  justify-content: space-around;
  flex-flow: row;
}
.menu ul {
  list-style-type: none;
  padding: 0;
}
.menu li {
  justify-content: space-around;
  flex-flow: row;
}

/*=================
      FOOTER
==================*/
footer {
  /* border-top: 1px solid black;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  height: 2.5em; */
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  padding-top: 15px;
  background-color: var(--crimson);
  color: var(--white);
  border-top: 1px solid black;
}
footer a {
  text-decoration: none;
  color: var(--silver);
}
